
body {
  background-color: #000000;
  margin: 5%;
}

.title_container {
   color: white;
   margin-bottom: -11px;
   margin-right: 9px;
}

.title_container_width {
   width: 99.73%;
   margin-left: 4px;
   background-color: #273746;
}

.title_text {
   margin-left: 10px;
}

.create_container2 {
  align-items: center;
  background-color: #273746;
  margin-top: 20px;
  margin-left: 3px;
  padding: 15px;
  position: relative;
}

.create_container3 {
  align-items: center;
  background-color: #273746;
  margin-top: 20px;
  margin-left: 10px;
  padding: 15px;
  position: relative;
}

.adjust_title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 1px;
}

.adjust_drop_down_lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.adjust_grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 30%;
}

.grid_height {
    height: 200px;
}

.dcc_compon {
  width: 50%;
  margin-top: 5px;
  margin-left: 413px;
}

.container-display {
  display: flex;
}

.flex-display {
  display: flex;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

/* Drop down list */
.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: #000000;
  color: white;

}

.Select-control{
  border: 0.5px solid green;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}
/* Drop down list */

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000 !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #273746;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white !important;
}
